//main colors   
$background-color: #E5E5E5;
$font-color: #343030;

//buttons
$btn-normal-color: #403432;
$btn-hover-color: #776763;
$btn-disable-color: #C1B4B1;
$btn-cart-color: #5B3A32;
$btn-font-color: #F4F6F9;

//search
$srch-border-color: #E1E1E1;
$srch-font-color: #9F9F9F;

$srch-border-active-color: #B5B5B5;
$srch-font-active-color: #343030;